
<body style="background-color:lightblue">
<h1 style="test-align:center;color:red" title="SAI KIRAN REDDY">HELLO WORLD  ! ! !</h1>
<p style="color:indigo">Heartly welcome to Vignan University</p>
<img src="https://vumoodle.in/pluginfile.php/2/course/section/122/LOGO.jpg" width="500" height="200">
<hr>
<p>Click on below box for Vignan's official website</p>
<p><a href="https://www.vignan.ac.in/" target="_blank" style="color:green;test-align:center;font-size:300%;border:4px solid red;" title="official web site" >VIGNAN</a></p>
<p>click on below image to go to vignan's student portal</p>
<p><a href="http://192.168.10.18/student/" title="student portal" target="_blank"><img src="https://eduvark.com/img/j/Vignan-University-Student-Portal.jpg" style="width:"300":height:"200";"></a><p>
<hr>
<p>click on below image for creator's image</p>
<p><a href="https://drive.google.com/file/d/10sSR7Tz-UMpHVTw4Mpo__suHusFHO8Zl/view?usp=drivesdk" title="Created by" target="_blank"><img src="https://www.logoground.com/uploads9/dv9y2020137662020-12-063430228Creative%20Mind.jpg" style="width:'150' ;height:'100';"></a><p>
</body>
