<!DOCTYPE html>
<html>
{% include 'coursecontent.html' %}
<head>
  <link rel = "icon" href =
"https://lh3.googleusercontent.com/pw/AM-JKLUU0upFzol849RGrySnap60uYOEJySPPHe-AJuqG-GJQhmHMvJC_hfkTwPbMBWRsENIAYYKHuk6DgZhiWntgnUfDVQr0QETY5Esr7vIoKXQq48a39gYlmQTMLAVqSR712oJoZFa2CtQI8MWnSJxdbOV=w855-h933-no?authuser=0"
        type = "image/x-icon">
    <title>Programs offered</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.pagination a {
	text-align:center;
  color: white;
  float: left;
    text-decoration: none;
  transition: background-color .3s;
    padding: 8px 16px 8px 20px;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}
head,a,h1{
  color: blue;
    text-align: center;
}
h2,h3{
    padding-left: 80px;
    color: blue;
}

.pagination a:hover:not(.active) {
  color: black;
  background-color: whitesmoke;
}
</style>
</head>
<body style="background-color: #00001a;">
<h2 style="text-align:center">Click on your branch</h2>
<H1>Undergraduate programs</H1>
<h2>B.Tech</h2>

<div class="pagination">
  <a href="ece">ECE</a>
  <a href="cse">CSE</a>
  <a href="it">IT</a>
  <a href="eee">EEE</a>
  <a class="active" href="mech">MECH</a>
  <a href="civil">CIVIL</a>
  <a href="ft">FT</a>
  <a href="bt">BT</a>
  <a href="bi">BI</a>
  <a href="bm">BM</a>
  <a href="agri">AGRI</a>
  <a href="chem">CHEM</a>
  <a href="textile">TEXTILE</a>
  <a href="robotics">ROBOTICS</a>
<br><br>
  <h3>Specializations</h3>
  <br>
   <a href="aiml">AIML</a>
  <a href="cscs">CSCS</a>
  <a href="csbs">CSBS</a>
</div>
<BR><BR>
<h2>Degree</h2>
<div class="pagination">
  <a href="bpharma">B.Pharma</a>
  <a href="bca">BCA</a>
  <a href="bsc">B.Sc</a>
  <a href="ballb">BA.LLB</a>
  <a href="bba">BBA</a>
  <a href="bballa">BBA.LL.B</a>
  <a href="bsc">B.Sc(Hons)Agri</a>
</div>
<br><br>
<h1>Postgraduate programs</h1>
<h2>M.Tech</h2>
<div class="pagination">
  <a href="es">ES</a>
  <a href="vlsi">VLSI</a>
  <a href="cse">CSE</a>
  <a href="ped">PE&D</a>
  <a href="ft">FT</a>
  <a href="md">MD</a>
  <a href="bt">BT</a>
  <a href="fm">FM</a>
  <a href="se">SE</a>
  <BR>
  <h2>Professional PG</h2>
  <a href="mba">MBA</a>
  <a href="mca">MCA</a>
  <a href="maeng">MA(Eng)</a>
  <a href="msc">M.Sc</a>
</div>
</body>
</html>
