<!DOCTYPE html>
<html>
{% include 'coursecontent.html' %}
<head>
  <link rel = "icon" href =
"https://lh3.googleusercontent.com/pw/AM-JKLUU0upFzol849RGrySnap60uYOEJySPPHe-AJuqG-GJQhmHMvJC_hfkTwPbMBWRsENIAYYKHuk6DgZhiWntgnUfDVQr0QETY5Esr7vIoKXQq48a39gYlmQTMLAVqSR712oJoZFa2CtQI8MWnSJxdbOV=w855-h933-no?authuser=0"
        type = "image/x-icon">
    <title>Programs offered</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
head,h1{
  color: white;
    text-align: center;
}
h2,h3{
    padding-left: 80px;
    color: blue;
}
.container.a{
    padding: 10px;
}

</style>
</head>
<body style="background-color: #000d1a;">
<h3 style="text-align:center">Click on your branch</h3>
<H1>Undergraduate programs</H1>
<br>
<div class="container">
  <a type="button" href="ece" class="btn btn-success">ECE</a>
  <a href="cse" class="btn btn-success" type="button" title="Computer Science and Engineering">CSE</a>
  <a href="it" class="btn btn-success" type="button">IT</a>
  <a href="eee" class="btn btn-success">EEE</a>
  <a class="btn btn-success" type="button" href="mech">MECH</a>
  <a href="civil" class="btn btn-success" type="button" >CIVIL</a>
  <a href="ft" class="btn btn-success" type="button" >FT</a>
  <a href="bt" class="btn btn-success" type="button" >BT</a>
  <a href="bi" class="btn btn-success" type="button" >BI</a>
  <a href="bm" class="btn btn-success" type="button" >BM</a>
  <a href="agri" class="btn btn-success" type="button" >AGRI</a>
  <a href="chem" class="btn btn-success" type="button" >CHEM</a>
  <a href="textile" class="btn btn-success" type="button" >TEXTILE</a>
  <a href="robotics" class="btn btn-success" type="button" >ROBOTICS</a>
</div>
<br><br>
<div class="container">
  <br>
   <a href="aiml" class="btn btn-primary" type="button" >AIML</a>
  <a href="cscs" class="btn btn-primary" type="button" >CSCS</a>
  <a href="csbs" class="btn btn-primary" type="button" >CSBS</a>
</div>
<BR><BR>

<div class="container">
  <a href="bpharma" type="button" class="btn btn-dark">B.Pharma</a>
  <a href="bca" type="button" class="btn btn-dark">BCA</a>
  <a href="bsc" type="button" class="btn btn-dark">B.Sc</a>
  <a href="ballb" type="button" class="btn btn-dark">BA.LLB</a>
  <a href="bba" type="button" class="btn btn-dark">BBA</a>
  <a href="bballa" type="button" class="btn btn-dark">BBA.LL.B</a>
  <a href="bsc" type="button" class="btn btn-dark">B.Sc(Hons)Agri</a>
</div>
    <br>
<h1>Postgraduate programs</h1>
<br>
<div class="container">
  <a href="es" type="button" class="btn btn-info">ES</a>
  <a href="vlsi" type="button" class="btn btn-info">VLSI</a>
  <a href="cse" type="button" class="btn btn-info">CSE</a>
  <a href="ped" type="button" class="btn btn-info">PE&D</a>
  <a href="ft" type="button" class="btn btn-info">FT</a>
  <a href="md" type="button" class="btn btn-info">MD</a>
  <a href="bt" type="button" class="btn btn-info">BT</a>
  <a href="fm" type="button" class="btn btn-info">FM</a>
  <a href="se" type="button" class="btn btn-info">SE</a>
</div>
  <BR><br>
<div class="container">
  <a href="mba" type="button" class="btn btn-danger">MBA</a>
  <a href="mca" type="button" class="btn btn-danger">MCA</a>
  <a href="maeng" type="button" class="btn btn-danger">MA(Eng)</a>
  <a href="msc" type="button" class="btn btn-danger">M.Sc</a>
</div>
</body>
</html>
