<!DOCTYPE html>
<html>
  <head>
    <title>Upload Files</title>
  </head>
  <body>
  <h1 id="h">HI</h1>
  <iframe id="frame" src="https://script.google.com/macros/s/AKfycbzB8TESlvAlwjSVs3nRMJE4rc7YuF0_wpHxtH5Hmgm-RvHbRp7b0Ww7AdNoIu7NgoyK/exec" width="80%" height="200px"></iframe>
  <button onclick="myFunction()">Try it</button>
  <script>
    function myFunction() {
  var iframe = document.getElementById("frame");
        document.getElementById("h").innerHTML = iframe.contentWindow.document.getElementById("resp");
}
    </script>
  </body>
</html>