<!DOCTYPE html>
<html>
{% include 'facultyheader.html' %}
<title>Links</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #b3b3b3;
}
</style>
</head>
<body>

<h2>Links provided by you</h2>

<table border="1">
<tr>
    <td>Sl.No</td>
    <td>File name</td>
    <td>File type</td>
    <td>Link</td>
    <td>Branch</td>
    <td>Delete</td>
</tr>
{% for x in mymembers %}
<tr>
    <td>{{ x.id }}</td>
    <td>{{ x.filename }}</td>
    <td>{{x.file_type}}</td>
    <td><a href={{ x.link }}>{{x.filename}}</a></td>
    <td>{{ x.branch }}</td>
    <td><a href="delete/{{ x.filename }}">delete</a></td>
</tr>
{% endfor %}
</table>

</body>
</html>