<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "icon" href =
"https://lh3.googleusercontent.com/pw/AM-JKLUU0upFzol849RGrySnap60uYOEJySPPHe-AJuqG-GJQhmHMvJC_hfkTwPbMBWRsENIAYYKHuk6DgZhiWntgnUfDVQr0QETY5Esr7vIoKXQq48a39gYlmQTMLAVqSR712oJoZFa2CtQI8MWnSJxdbOV=w855-h933-no?authuser=0"
        type = "image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="3; url=http://192.168.0.112:8000/project/">
    <title>Sorry</title>
    <style>
        img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
    </style>
</head>
<body>
    <h2 style="text-align:center">Something went wrong</h2>
    <h1 style="text-align: center">Redirecting...</h1>
<img src="https://lh3.googleusercontent.com/8nQ8mZb3G7cp4KW7aA5RS4bP3YeWZRR_fNa3sxAvwXvt6UXtXdRc6zJUawYclsKmoSdRGvMhocSflztq6uxBpCzeaH8eFkXRCi1u4JJi-4HTMsNDFjJR5LcTFu2tL1HIe5D_y9hflWS-X9NDZ5ZRq4RPw83kvueHdHloB30Pix9HuVM88xJ3nMiGSZlXx4ot4XhGcPhKv5zsPxMgYjT2KLunA4zhF8w7ymdEfPvuwLoMIG8HfIWk3-U7HOTLF0r6NzxEt6gO7qszPMQWOogQD0HyXUbo-bS_5IFs-QYIEEjoKLdTWNaukShVjSj56wXVrwr9Ut7EKi-HFJePjbUBtF4IPNY3qBW0YfsAso_MU8fRDyT7JeSpS0VHDSpT_HiTYtgx3wYHwuKvSjeBq9-tyfq5MaQkOFJZZ6rIs0f7I08eQ4SwCQSY0Oduv-wRrwmGiwj7cGSZ_1lHucsWDSIr-HnqOcMeww9IjolsLCXQz6idXkNYKLpZDC7S3TM-Db95mCjGq9jWzF_TLhKCJ7m56qFLE_Ut6knxPxKlyxdUIUF2ZBAHPeYGgA4hZO3KCrtijA0Os9BCBjEUXaw_aFX9zcA8RxBxK7I8lOaB0qhABkHIaWMw_Yw34ZQScqCo0zvSyvKmid6y9-i4IoAi2J26tB_fkgYl3qPXB5W0rmiDH4IiygUWiyHnpGq5fHTUoJefxqyShEcwWcfMCpv3N0KFj1FfuYGzXSc3zL-tQ7ixxMafqm9mVADK12bcNhU=s740-no?authuser=0" alt="Search"/>

    <script>
    let counter = document.querySelector('h1');
let count = 5;

setInterval(()=>{

    counter.innerText = count;
    count--

    {#if(count === 0) location.replace('127.0.0.1:8000/Project/')#}

},1000)
</script>
</body>
</html>