<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel = "icon" href =
"https://lh3.googleusercontent.com/pw/AM-JKLUU0upFzol849RGrySnap60uYOEJySPPHe-AJuqG-GJQhmHMvJC_hfkTwPbMBWRsENIAYYKHuk6DgZhiWntgnUfDVQr0QETY5Esr7vIoKXQq48a39gYlmQTMLAVqSR712oJoZFa2CtQI8MWnSJxdbOV=w855-h933-no?authuser=0"
        type = "image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.buttonload {
  background-color: #000000; /* Green background */
  border: none; /* Remove borders */
  color: red; /* White text */
  padding: 15px 30px; /* Some padding */
  font-size: 16px; /* Set a font-size */
  position: center;
  align-items: center;
  width: 100%;
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}
</style>
</head>
<body>

<h1 style="text-align: center">Loading</h1>
<h3 style="text-align: center">Please wait ...</h3>
<button class="buttonload">
  <i class="fa fa-refresh fa-spin"></i>Loading
</button>

</body>
</html>
